flow2.txt
[
    {
        "id": "af8827f5.f95dc8",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "df0c0005.2a0dc",
        "type": "http in",
        "z": "af8827f5.f95dc8",
        "name": "Set GPIO4",
        "url": "/setgpio4",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 60,
        "y": 160,
        "wires": [
            [
                "bbe29cdf.cd047",
                "a1d74bd6.84bfa8"
            ]
        ]
    },
    {
        "id": "bbe29cdf.cd047",
        "type": "function",
        "z": "af8827f5.f95dc8",
        "name": "Set to 1",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 280,
        "wires": [
            [
                "ae21079a.2f19f8"
            ]
        ]
    },
    {
        "id": "ae21079a.2f19f8",
        "type": "rpi-gpio out",
        "z": "af8827f5.f95dc8",
        "name": "GPIO4",
        "pin": "7",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 470,
        "y": 320,
        "wires": []
    },
    {
        "id": "a1d74bd6.84bfa8",
        "type": "function",
        "z": "af8827f5.f95dc8",
        "name": "Return Status",
        "func": "msg.payload=\"GPIO4 set to HIGH\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 80,
        "wires": [
            [
                "b2c5015e.8dd3",
                "5cf53e3e.6f183"
            ]
        ]
    },
    {
        "id": "b2c5015e.8dd3",
        "type": "http response",
        "z": "af8827f5.f95dc8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 140,
        "wires": []
    },
    {
        "id": "5cf53e3e.6f183",
        "type": "debug",
        "z": "af8827f5.f95dc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "e9ac2e09.eb219",
        "type": "http in",
        "z": "af8827f5.f95dc8",
        "name": "Clear GPIO4",
        "url": "/cleargpio4",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 70,
        "y": 400,
        "wires": [
            [
                "bff1a9c4.e19be8",
                "eaebd6c2.46ab58"
            ]
        ]
    },
    {
        "id": "bff1a9c4.e19be8",
        "type": "function",
        "z": "af8827f5.f95dc8",
        "name": "Set to 0",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 400,
        "wires": [
            [
                "ae21079a.2f19f8"
            ]
        ]
    },
    {
        "id": "eaebd6c2.46ab58",
        "type": "function",
        "z": "af8827f5.f95dc8",
        "name": "Return Status",
        "func": "msg.payload=\"GPIO4 set to LOW\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 560,
        "wires": [
            [
                "b2c5015e.8dd3",
                "5cf53e3e.6f183"
            ]
        ]
    }
]